*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	font: 15px/1.5 Calibri, Arial, Helvetica, sans-serif;


}
/*Header*/

#logo{
	float: left;
	width: 250px;
	height: 60px;
	background: url(../img/logo.png) no-repeat center;
	padding-left: 200px;
}

header{
	background: #ffffff;
	position: fixed;
	padding-top: 10px;
	min-height: 60px;
	box-shadow: 0 1px 3px rgba(77,157,192,.6);
	width: 100%;
	top:0;
	left:0;
	z-index: 100;
}
header a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	-moz-transition: all 0.5s;
	transition: all .5s;

}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #branding{
	float: left;
}
header #branding h1{
	margin:0;
}
header nav {
	float:right;
	height: 60px;
	padding: 10px 100px 0 0;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}
.contain{
	width: 100%;
	margin: auto;
	overflow: hidden;

}

.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 60px;
	border-top: #f2f2f2 3px solid;
	
}		

/*showcase*/

#showcase {
	min-height: 400px;
	background: url(../img/3.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	color: #fff;	
	margin-top: 68px;
}
#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

.btn{
	padding: 15px;
	background: #32a0c2;
	border: none;
	border-radius: 1.5px;
	color: #fff;
	font-size: 17px;
	-moz-transition: all .5s;
	transition: all .5s;
}

.btn:hover{
	background: #4A708B;
	padding: 15px;
	border: none;
	border-radius: 1.5px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
}
.btn{
	margin-top: 15px;
}




.abt{
	margin: 10px 0 30px 0;
	text-align: center;
}
.abt p{
	padding: 0 36% 0 36%;
	font-family: tahoma;
	font-size: 16px;
}
.abt h2, .serv h2{
	color: #32a0c2;
	font-size: 35px;
}

.serv {
	background-color: #f4f5f6;
	text-align: center;
}
.sub-serv1{
	display: inline-block;
	padding: 2%;
}
.chanel{
	background: #32a0c2;
	text-align: center;
	color: #fff;
	min-height: 159px !important;
	padding-top: 30px;
	
}
.sub-chanel{
	display: inline-block;
	padding: 0 15px 0 15px; 
	width: 300px;
	text-align: left;
	margin-bottom: auto;
}
.chanel .logo{
	width: 100px;
	margin-bottom: 80px;
}
.chanel a{

	text-decoration: none;
	color: #fff;
}
.chanel h3{
	text-transform: uppercase;
	text-align: top;
}
.chanel .social{
	width: 40px;
	height: 40px;

}
footer{
	padding: 10px;
	color: #ffffff;
	background-color: #4A708B;
	text-align: center;
	border-top: #fff 2px solid;
}

/*Social Icons*/
.social-icons{
	height: 45px !important;
	
}
.fa{
	background-color: #0c86ad;
	min-width: 17px;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.fa:hover{
	background-color: #fff;
	color: #0c86ad;
}
.social-icons i{
	font-size: 20px;
	padding: 10px;
}


/*About page*/

#about_showcase{
	min-height: 400px;
	background: url(../img/about.png) no-repeat center;
	background-size: cover;
	text-align: center;
	margin-top: 68px;
}
#btnabt{
	text-align: center;
	margin-bottom: 35px;
}

.btnabt{
	padding: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: #f1f1f1;
	border-radius: 3px;
	cursor: pointer;
	border-style: none;	
	color: #000;
	opacity: .6;
}
.btnabt:hover{
	color: #32a0c2;
}

.hist, .ceo, .mission, .vision, .naija, .correct{
	display: inline-block;
}
.hist{
	float: left;
	width: 60%;
	margin-left: 60px;
}
.ceo{
	float: right;
	margin-right: 80px; 
	text-align: center;
	background:  #f1f1f1;
	width: 210px; 

}
.ceo img{
	 width: 190px; 
	 height: 250px;
	 /*margin-bottom: 0;*/
}
.container p {
	font-size: 18px;
}
.ceo h2, .hist h2, .ceo p, .vision h2, .mission h2, .naija h1{
	color: #32a0c2;
}
.mission{
	float: left;
	width: 400px;
}
.mission img{
	width: 400px;
	height: 250px;
	margin-left: 60px;
}
.vision{
	float: right;
	width: 55%;
	text-align: left;
	margin-right: 80px;
}
.naija{
	float: right;
	width: 30%;
	margin-right: 80px;
	text-align: left;
}
.correct{
	width: 55%;
}
.correct img{
	width: 650px;		
}



/*Services page*/

#services_showcase{
	min-height: 400px;
	background: url(../img/services.png) no-repeat center;
	background-size: cover;
	text-align: center;
	margin-top: 68px;
}



/*Contact us page*/

section{
		margin-top: 100px;
}

input[type=text]{
    width: 440px;
    height: 47px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #efeff0;
    background: #efeff0;
    border-radius: 1px;
    box-sizing: border-box;
    outline: none;
}

input[type=submit] {
	width: 89px;
	height: 43px;
	border: 2px solid #e5e5e5;
	background-color: #efefef;
	color: #000;
	font-weight: bold;
	margin: 8px 0;
	border-radius: 3px;
	cursor: pointer;
}


textarea {
    width: 440px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #efeff0;
    background: #efeff0;
    border-radius: 1px;
    resize: none;
}

.cphone, .cform{
		display: inline-block;
		padding: 0 80px 0 80px;
}
.cphone{
		float: left;
}
.cform{
		float: right;
}
	.cphone h2, .cform h2{
		color: #32a0c2;
}


/*board of directors*/
.team img{
	 width: 190px; 
	 height: 250px;
}	 

.bodirectors section{
	display: inline-block;
	float: left;
	margin-left: 80px; 
	text-align: center;
	background:  #f1f1f1;
	width: 190px;
	box-shadow: 0 1px 3px 1px rgba(77,157,192,.6);
	color: #32a0c2;
}

 .bodhead h2{
	text-align: center;
	color: #4D9CC0;
}

